.badge.bg-primary {
  background-color: $primary !important;
  color: $white;
}

.btn-primary {
  background-color: $primary !important;
  color: $white;
}

.text-primary {
  color: $primary-active !important;
}

.btn-light-primary {
  background: -webkit-linear-gradient(right, $primary-active, rgb(8, 8, 8)) !important;
  color: $white !important;

}
.bg-primary{
  background-color: $primary !important;
}

.outline-none {
  outline: none
}
.fs-10px{
  font-size: 10px;
}
.z-index-3{
  z-index: 3;
}
.h-300px {
  height: 300px;
}

.h-200px {
  height: 200px;
}

::-webkit-scrollbar {
  width: 13px !important;
  background-color: $primary-light !important;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-active !important;
  border-radius: 3px !important;
  border: 3px solid $primary-light !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $primary-active !important;
}
.bg-light{
  background-color: #F7F9FA !important;
}
.bg-pattern{
  // background-image: url('../../assets/Images/pattern02.png');
  background-size: cover;
  height: 100%;
}
.border-7px{
  border: 7px solid $primary;

}
.search_input{
  background: gainsboro;
  border: none;
  border-radius: 20px;
  color: white;
}
::-webkit-input-placeholder{
  color: white;
}
.rounded-16px{
  border-radius: 16px;
}
