.badge.bg-primary {
  background-color: $primary !important;
  color: $white;
}

.btn-primary {
  background-color: $primary !important;
  color: $white;
}

.text-primary {
  color: $primary-active !important;
}

.btn-light-primary {
  background: -webkit-linear-gradient(right, $primary-active, rgb(8, 8, 8)) !important;
  color: $white !important;

}

.outline-none {
  outline: none
}
.fs-10px{
  font-size: 10px;
}

.h-300px {
  height: 300px;
}

.h-200px {
  height: 200px;
}
