$primary:						rgb(3, 12, 55) !default;
$primary-active:				rgb(3, 12, 55) !default;
$primary-light: 				rgb(10, 29, 124) !default;
$primary-clarity: 				rgba(rgb(1, 16, 17), 0.2) !default;
// $primary-inverse: 				$white !default;

$white:white
