$primary:						rgb(1, 16, 17) !default;
$primary-active:				rgb(9, 49, 49) !default;
$primary-light: 				rgb(17, 79, 79) !default;
$primary-clarity: 				rgba(rgb(1, 16, 17), 0.2) !default;
// $primary-inverse: 				$white !default;

$white:white
