<h5>Orders</h5>
<div class="container">
  <div class="row bg-white py-3 rounded-16px">
    <div class="col-md-6">
      <input type="search" class="form-control search_input w-50 bg-light" placeholder="search ..." name="" id="">
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button class="btn btn-primary btn-sm">Add Order +</button>
    </div>
  </div>


  <div class="row bg-white py-3 rounded-16px mt-4">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
