<nav class="w-100 z-index-3 bg-primary mt-4">
  <div class="container">

    <div class="row">
      <div class="col-md-6 mb-2 mb-lg-0">
          <input type="search" class="form-control search_input w-50" placeholder="search ..." name="" id="">
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <li class="nav-item dropdown me-2 d-flex">
          <a class="nav-link dropdown-toggle text-white" href="javascript:void(0)"
          id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
            <img src="assets/Images/avater.png" width="42" alt="logo" srcset="">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-primary text-center" routerLink="/home/profile">Profile</a></li>
            <li><a class="dropdown-item text-primary text-center" href="#">Language</a></li>
          </ul>
        </li>
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
      </div>
    </div>
  </div>
</nav>
