<div class="w-100 z-index-3 bg-primary p-4 sideMenuContainer bg-pattern">
  <a class="navbar-brand text-white" routerLink="/home/index">
    <img src="assets/Images/logo2.png" alt="logo" class="mx-3">
  </a>

  <ul class="navbar-nav me-auto mb-2 flex-column mb-lg-0 mt-5">

    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard/users">
        <i class="fas fa-user"></i> Users</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard/managers">
        <i class="fas fa-user-tag"></i> Managers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard/branches">
        <i class="fas fa-code-branch"></i> Branches</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard/Items">
        <i class="fas fa-cookie-bite"></i> Items
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard/orders">
        <i class="fas fa-road"></i> Orders
      </a>
    </li>

  </ul>

</div>
