

  .card-2 {

    width: 100%;
    display: table;
    overflow: hidden;
  }

  .card-2 .card-heading {
    background: url(../../../../../assets/Images/5.jpg)  top /cover no-repeat;
    width: 29.1%;
    display: table-cell;
  }

