<div class="container d-flex justify-content-center align-items-center h-100 w-100">
  <div class=" w-100">
    <div class="card card-2">
      <div class="card-heading">
      </div>
      <div class="card-body py-5 px-4">
        <h4 class="title my-3">Registration Info</h4>
        <ng-container *ngFor="let error of errors">
          <span class="alert alert-danger   alert alert-danger p-1 fs-8">{{error}}</span>
        </ng-container>
        <!--  -->
        <form [formGroup]='registerForm' class="mt-4">

          <div class="my-3 d-flex flex-column">
            <label for="name">
              Name
              <i class="fas fa-asterisk text-danger fs-10px"></i>
            </label>
            <input formControlName='UserName' name="name" id="name" class="form-control mt-2 py-3 shadow-none outline-none w-100" type="text"
               #fname>

          </div>
          <div class="my-3 d-flex flex-column">
          <label for="name">
            Email
            <i class="fas fa-asterisk text-danger fs-10px"></i>
          </label>
          <div class="mt-2">
            <input formControlName='Email' class="form-control py-3 shadow-none outline-none" type="email"
             #email>

          </div>
          </div>

          <div class="my-3 d-flex flex-column">
          <label for="name">
            Password
            <i class="fas fa-asterisk text-danger fs-10px"></i>
          </label>
          <div class="d-flex w-100 align-items-center border mt-2">

            <div class="w-100">
              <input [type]="showPass? 'password':'text'"
                class="form-control py-3 shadow-none border-0 outline-none"
                formControlName="Password" #password>
            </div>
            <div>
              <button (click)="showPass = !showPass" type="button" class="btn mx-2">
                <i class="fas fa-eye text-primary" *ngIf="!showPass"></i>
                <i class="fas fa-eye-slash text-primary" *ngIf="showPass"></i>
              </button>
            </div>
          </div>
          </div>
          <div class="mt-3 mb-1 d-flex flex-column">
          <label for="name">
            Phone
            <i class="fas fa-asterisk text-danger fs-10px"></i>
          </label>
          <div class="mt-2">
            <input formControlName='phone' class="form-control py-3 shadow-none outline-none" type="text"
               #phone>
          </div>
          </div>
          <div class="mb-3">
             Have Accoun ? <a routerLink="/auth/login" class="text-primary"> Sign In</a>
          </div>
          <div class="p-t-30 mt-2">
            <button class="btn btn-light-primary" type="button"
              [disabled]="!registerForm.valid && !isBusy"
              (click)="registerFn()">
              <i class="fas fa-sync-alt fa-spin text-white mx-1" *ngIf="isBusy"></i> Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
